body {
	font-family: "PT Sans", Arial, sans-serif;
	color: rgb(0,0,0,0);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding: 0;
	min-width: 1200px;
}
.main-navigation {
	position: relative;
  	font-weight: bold;
	line-height: 26px;
}
.main-navigation a {
	color: #111111;
	text-decoration: none;
}
.main-navigation ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
  	list-style-type: none;
  	margin: 0;
  	min-height: 57px;
}
.main-navigation li {
	width: 20%;	
}
.main-navigation .menu-info, 
.main-navigation .menu-foto {
	text-align: left;
}
.main-navigation .menu-map, 
.main-navigation .menu-hotel {
	text-align: right;
} 
.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 76px;
}
.cap {
	width: 100%;
	background-image: url("../img/background-photo.png");
	text-align: center;
}
.cap img {
	padding-top: 76px;
	padding-bottom: 80px;
}
.container {
  	width: 1200px;
  	margin: 0 auto;
}
.description {
	text-align: center;
	padding-top: 59px;
	padding-bottom: 52px; 
}
.description h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	padding-bottom: 27px; 
}
.causes-content {
	display: flex;
}
.causes-content-left {
	height: 156px;
	width: 33.3%;
	padding: 50px;
	background-color: #81b3d2;
	text-align: center;
}
.causes-content-right {
	width: 66.7%;
}
.causes-content-left h2 {
	color: #fff;
	font-weight: bold;
	line-height: 21px;	
}
.causes-content-left span {
	line-height: 21px;
	color: #fff;
}
.services {
	display: flex;
	height: 330px;
}
.services-item {
	flex-direction: row;
	justify-content: space-around;
	width: 400px;
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
	padding-top: 165px;
	display: inline-block;
	position: relative;
}
.services-item::before {
	content: "";
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image: url("../img/sprite1.png");
	background-repeat: no-repeat;
}
.services-icon-house::before {
	width: 75px;
    height: 72px;
    background-position: -10px -100px;
}
.services-icon-burger::before {
	width: 74px;
    height: 70px;
    background-position: -10px -10px;
}
.services-icon-present::before {
	width: 64px;
    height: 76px;
    background-position: -10px -192px;
}
.services-item b {
	font-weight: bold;
	line-height: 21px;	
}
.services-item p {
	line-height: 21px;
	text-align: center;
}
.attraction-content {
	display: flex;
}
.attraction-content-right {
	width: 33.3%;
	height: 156px;
	padding: 50px;
	background-color: #81b3d2;
	text-align: center;
}
.attraction-content-left {
	width: 66.7%;
}
.attraction-content-right h2 {
	color: #fff;
	font-weight: bold;
	line-height: 21px;	
}
.attraction-content-right span {
	line-height: 21px;
	color: #fff;
}
.dignity {
	display: flex;
	background-color: #eee;
	margin-bottom: 53px;
}
.dignity-item {
	flex-direction: row;
	justify-content: space-around;
	width: 400px;
	height: 250px; 
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 70px;
}
.dignity-item b {
	font-weight: bold;
	line-height: 21px;
}
.dignity-item p {
	line-height: 21px;	
}
.interesting {
	text-align: center;
}
.interesting-name {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	padding-bottom: 30px;	
}
.interesting p {
	line-height: 24px;
	padding-bottom: 50px;
}
.sedona-map {
	position: relative;
	z-index: 1;
}
.motels {
	display: flex;
	flex-direction: column;
	width: 570px;
	height: 480px;
	border: 2px solid #eee;
	background:#fff;
	margin: auto;
}
.wrapper-motels {
	position: relative;
	z-index: 2;
	height: 90px;
}
.motels h2 {
	background-color: #766357;
	color: #fff;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	height: 57px;
	text-align: center;
	margin: 0;
	padding-top: 30px;
	margin-bottom: 55px;
}
.motels span {
	font-weight: bold;
}
.input-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.input-form span,
.input-form .button {
	margin-left: 57px;
	margin-right: 21px;
}
.calendar {
	display: inline-block;
	width: 345px;
	height: 40px;
	background: #f2f2f2;
	font-size: 0;
	position: relative;
	border:none;
	margin-bottom: 29px;
}
.calendar::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 94%;
	transform: translate(-50%,-50%);
	background-image: url(../img/sprite2.png);
    background-repeat: no-repeat;
}
.arrival-icon-calendar::before {
	width: 21px;
    height: 22px;
    background-position: -10px -10px;
}
.departure-icon-calendar::before {
	width: 21px;
    height: 22px;
    background-position: -10px -10px;
}
.quantity {
	display: inline-block;
	width: 111px;
	height: 38px;
	background: #f2f2f2;
	margin-right: 5px;
	font-size: 0;
	position: relative;
	margin-bottom: 29px;
}
.quantity::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image: url(../img/sprite2.png);
	background-repeat: no-repeat;
}
.minus-icon-minus {
	width: 37px;
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    float: left;
    color: #a9a9a9;
    
}
.plus-icon-plus {
	width: 37px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    color: #a9a9a9;
 }
.quantity-text {
	width: 37px;
    height: 35px;
    text-align: center;
    border: none;
    background: #f2f2f2;
}
.adult {
	display: inline-block;
	width: 50%;
	float: left;
}
.adult span {
	float: left;
	
}
.adult label span {
	float: left;
	margin-left: 0px;
	margin-right: 0px;
}
.adult label {
	float: left;
}
.children {
	display: inline-block;
	width: 50%;
}
.children label span {
	float: left;
	margin-left: 0px;
	margin-right: 0px;
}
.unit{
	display: inline-block;
}
.button {
 	width: 460px;
 	height: 60px;
 	color: white;
 	background-color: #81b3d2;
 	margin-bottom: 55px;
 	border: none;
 	font-size: 21px;
 	text-transform: uppercase;
 	line-height: 26px;
 }
.main-footer .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-footer .container>a {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
}
.footer-copyright {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 240px;
	height: 45px;
}
.footer-copyright p {
	text-transform: uppercase;
	font-size: 14px;
	padding-right: 5px;
	}
.hotel-setting {
	display: flex;
	justify-content: space-around;
	background-image: url('../img/hotelsetting.png');
	width: 100%;
}
.hotel-setting-left {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: #fff;
}
.hotel-setting-right .value {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 210px;
}
.infrastructure {
	display: flex;
	flex-direction: column;
	width: 310px;
	height: 210px;
	text-align: center;
	margin-bottom: 15px;
}
.infrastructure label {
	text-align: left;
	padding-left: 98px;
}
.accomodation label {
	text-align: left;
}
.housing {
	margin-top: 31px;
	text-align: left;
	font-weight: bold;
}
.accomodation input[type="checkbox"] {
	display: none;
}
.accomodation input[type="checkbox"] + label {
	display: block;
	margin: 10px 0;
	line-height: 20px;
	padding-left: 115px;
	position: relative;
	cursor: pointer;
}
.accomodation input[type="checkbox"] + label::before {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 71px;
}
.accomodation input[type="checkbox"] + label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	background-image: url(../img/sprite3.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 22px;
    background-position: -10px -70px;
}
/*.sprite {
    background-image: 
    display: block;
}

.sprite-arrow-down {
    width: 11px;
    height: 10px;
    background-position: -10px -10px;
}

.sprite-arrow-up {
    width: 11px;
    height: 10px;
    background-position: -10px -40px;
}

.sprite-checked {
    width: 26px;
    height: 22px;
    background-position: -10px -70px;
}

.sprite-empty-check {
    width: 22px;
    height: 22px;
    background-position: -10px -112px;
}

.sprite-stars {
    width: 42px;
    height: 17px;
    background-position: -10px -154px;
}*/
.accomodation {
	display: flex;
	flex-direction: column;
	width: 310px;
	height: 210px;
	text-align: center;
}
.hotel-setting span {
	padding: 10px;
}
.result {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 30px;
}
.result h2 {
	padding: 20px;
}
.sort {
	display: flex;
	justify-content: space-around;
	width: 370px;
}
.hotel {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	border-bottom: 2px solid #e5e5e5;
}
.hotel-left {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.hotel-left img {
	width: 136px;
	height: 90px;
	margin: 30px 30px 30px 72px;
}
.hotel-right {
	display: flex;
	justify-content: flex-end;
}
.hotel-info {
	display: flex;
	flex-direction: column;
}
.social-btn {
	display: inline-block;
	width: 47px;
	height: 47px;
	background: #81b3d2;
	margin-right: 6px;
	font-size: 0;
	vertical-align: top;
	position: relative;
}
.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}
.social-btn-fb::before {
	width: 10px;
    height: 19px;
    background-position: -10px -10px;
}
.social-btn-tw::before {
	width: 17px;
    height: 15px;
    background-position: -10px -85px;
}
.social-btn-youtube::before {
	width: 20px;
    height: 16px;
    background-position: -10px -49px;
}
.filter-range {
	width: 330px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 26px;
}
.filter-range-title {
	margin-bottom: 9px;
	font-weight: 600px;
	font-size: 16px;
	line-height: 21px;
}
.price-controls {
	position: relative;
	height: 35px;
	margin-bottom: 20px;
	font-size: 0px;
	border: 2px solid #fff;
	border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
  	vertical-align: top;
  	cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls {
	position: relative;
	margin-bottom: 32px;
}
.range-controls .scale {
	height: 2px;
	background: rgba(255,255,255,0.3);
}
.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #fff;
}
.range-toggle {
	position: absolute;
	top:-9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 10px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
}
.range-toggle:hover {
	background: #1c4f80;
}
.range-toggle-min {
	left: 0;
}
.range-toggle-max {
	left: 80%
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}